<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Error 500 - Error Interno del Servidor</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>

<body class="bg-light text-center d-flex flex-column justify-content-center align-items-center vh-100">

	<div>
		<h1 class="display-1 text-warning">500</h1>
		<p class="fs-4">Ups... Algo salió mal en el servidor.</p>
		<p class="text-muted">Estamos trabajando para resolver este problema.</p>
		<a href="/" class="btn btn-primary">Volver al Inicio</a>
	</div>

</body>

</html>