<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Verdadero o falso</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>

<body class="bg-dark text-white">
	<div th:replace="vistas/fragmentos/fragments::navbar"></div>

	<div class="container mt-5">
		<h2>Agregar pregunta de selección única</h2>
		<form th:action="@{/preguntaTrueFalse/guardar}" th:object="${preguntaTrueFalse}" method="post">
			<div class="mb-3">
				<label for="preguntaTrueFalse" class="form-label">Enunciado</label>
				<input type="text" id="enunciado" th:field="*{enunciado}" name="enunciado" class="form-control" required>
			</div>

			<div class="mb-3">
				<label class="form-label">Este enunciado es:</label>
				<div class="form-check">
					<input class="form-check-input" type="radio" id="opcion-verdadero" th:field="*{respuesta}" value="true" required> 
					<label class="form-check-label" for="opcion-verdadero"> Verdadero </label>
				</div>

				<div class="form-check">
					<input class="form-check-input" type="radio" id="opcion-falso" th:field="*{respuesta}" value="false" required> 
					<label class="form-check-label" for="opcion-falso"> Falso </label>
				</div>
			</div>

			<div class="mb-3">
				<label for="tematica" class="form-label">Temática</label> 
				<select id="tematica" th:field="*{tematica}" class="form-control" required>
					<option th:each="tematica : ${T(com.questions.dam2.entity.Tematica).values()}" th:value="${tematica}" th:text="${tematica.tematica}"></option>
				</select>
			</div>

			<button type="submit" class="btn btn-primary">Guardar pregunta</button>
		</form>
	</div>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>